node_modules
# Keep environment variables out of version control
.env

package-lock.json
javascript/**/migrations/
typescript/**/migrations/
misc/**/migrations/
databases/**/migrations/
experimental/**/*.db
**/dev.db
*.env*
